@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
    color: #fff;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222222;
    padding: 10px 15px;
  }
  
  .menu-icon {
    font-size: 24px;
  }
  .logo{
    align-self: center;
    align-content: center;
  }
  .logo img { 
    width: 80%;
    height: 80%;
    align-content: center;
    z-index: 1;
  }
  
  .icons {
    display: flex;
    gap: 15px;
  }
  .icon {
    font-size: 18px;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
  }

  .banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ou a altura que preferir */
    background-size: cover;
    background-position: center;

  }
  
  .produtos {
    text-align: center;
    padding: 20px 10px;
  }
  
  .carrossel {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  .carrossel button {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .carrossel .prev {
    margin-right: 5px;
  }
  
  .carrossel .next {
    margin-left: 5px;
  }
  
  .carousel-wrapper {
    width: 660px; 
    overflow: hidden;
    margin: 0 auto;
  }
  
  
  .produtos-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: fit-content;
  }
  
  .produto {
    min-width: 200px;
    margin-right: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    flex-shrink: 0;
  }
  .produto img {
    width: 100%;
    height: auto;
  }
  .desconto {
    display: block;
    color: #ccc;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .preco {
    font-size: 16px;
    margin: 10px 0;
  }
  .preco del {
    color: #666;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .comprar {
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  